Figures/*
Kort_Data/*
Rawdata/*
Ingestion/CTD/Lokalt_Data/
.idea/
venv/
data/
work/
sor/
sidir/LaTeX/
projektir/*

*pytest_cache*
*temp.*

*__pycache__*

*.png
*.csv
*.upp
*.npy
*.ipynb
*.txt
*.swp
.ycm_extra_conf.py
