anaconda-client==1.6.14
anaconda-navigator==1.8.7
anaconda-project==0.8.2
basemap==1.0.7
cmocean==1.1
conda==4.5.11
conda-build==3.10.5
conda-verify==2.0.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
